body {
  background-color: #151515;
  font-family: 'Raleway', sans-serif;
  color: white; 
  text-align: left;
}

.intro {
  font-size: 15px;
}

p {
  line-height: 1.2;
}

.end {
  text-align: center;
  font-size: 50px;
}
